@import '../../styles/constants';
@import '../../styles/mixins';

.label {
  font-size: 20px;
}

.input-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 4px;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  &--checkbox {
    flex-direction: row;
    align-items: center;
    column-gap: 8px;

    .label {
      display: flex;
      flex-wrap: wrap;
      order: 1;
    }

    .error {
      order: 2;
    }
  }

  &--switcher {
    margin-top: 10px;
  }

  &__input {
    display: block;
    width: 100%;
    padding: 10px 17px;
  
    color: $input-text;
    font-size: 20px;
  
    border: 2px solid $input-border;
    border-radius: 25px;
  
    background-color: transparent;
  
    outline: 0;
  
    transition: 0.5s;
  
    &:hover {
      border-color: $input-active-border;
    }
  
    &:focus {
      border-color: $input-active-border;
      box-shadow: inset -2px -2px 5px $input-hover-border;
    }

    &--file {
      border-radius: 40px;
    }

    &--file::-webkit-file-upload-button {
      padding: 10px 20px;

      color: $input-submit-text;

      background: $input-submit-background;
      border: 3px solid $input-submit-background;
      border-radius: 10px;

      cursor: pointer;

      transition: 0.5s;

      &:hover {
        border-color: $input-submit-hover-background;
        background-color: $input-submit-hover-background;
      }
    }

    &--file:hover::-webkit-file-upload-button {
      border-color: $input-submit-hover-background;
      background-color: $input-submit-hover-background;
    }

    &--checkbox {
      width: auto;
    }

    &--switcher {
      display: none;
    }

    &--switcher:checked + .input-wrapper__switcher-label {
      .input-wrapper__switcher-label-inner {
        margin-left: 0;
      }
      .input-wrapper__switcher-label-tumbler {
        left: calc(100% - 34px);
      }
    }

    &--submit {
      width: auto;
      margin: 0 auto;
  
      background: $input-submit-background;
      border: 3px solid $input-submit-background;
      border-radius: 10px;
      padding: 10px 20px;
  
      transition: 0.5s;
  
      cursor: pointer;
  
      &:hover {
        border-color: $input-submit-hover-background;
        background-color: $input-submit-hover-background;
      }
    }

    &--disabled {
      cursor: not-allowed;
      background-color: $disabled-background;
      border-color: $disabled-border;
      color: $disabled-text;
  
      &:hover {
        background-color: $disabled-background;
        border-color: $disabled-border;
        color: $disabled-text;
      }
    }
  }

  &__input.not-valid {
    color: $error;
    border-color: $error;

    &:hover {
      border-color: $hover-error;
    }

    &:focus {
      border-color: $hover-error;
      box-shadow: inset -2px -2px 5px $error;
    }
  }

  &__input--file.not-valid::-webkit-file-upload-button {
    background: $error;
    border-color: $error;

    &:hover {
      border-color: $hover-error;
      background-color: $hover-error;
    }
  }

  &__input.not-valid ~ .error{
    display: block;
    opacity: 1;
  }

  &__switcher-label {
    position: relative;
    display: block;
    overflow: hidden;

    border: none;
    border-radius: 20px;

    cursor: pointer;
  }

  &__switcher-label-inner {
    display: block;
    width: 200%;
    margin-left: -100%;

    font-size: 14px;

    transition: 0.3s ease-in;
    &:before,
    &:after {
      display: flex;
      align-items: center;
      float: left;
      width: 50%;
      height: 34px;
      padding: 0;
      color: $switcher-text;
      font-weight: bold;
      box-sizing: border-box;
    }

    &:before {
      content: attr(data-firstoptionlabel);
      text-transform: uppercase;
      padding-left: 10px;
      background-color: $switcher-default-color;
      color: $switcher-text;
    }

    &:after {
      content: attr(data-secondoptionlabel);
      text-transform: uppercase;
      padding-right: 10px;
      background-color: $switcher-color;
      color: $switcher-text;
      justify-content: right;
    }

    &--selected {
      &:after {
        background-color: $switcher-no;
      }
  
      &:before {
        background-color: $switcher-yes;
      }
    }
  }
  
  &__switcher-label-tumbler {
    display: block;
    width: 24px;
    margin: 5px;
    background: $switcher-text;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    border: none;
    border-radius: 20px;
    transition: 0.3s ease-in;
  }

  .error {
    display: none;
    position: absolute;
    bottom: -20px;
    width: 100%;

    font-size: 15px;
    color: $error;
    opacity: 0;

    transition: 0.5s;
  }
}
