@import '../../styles/constants';
@import '../../styles/mixins';

input {
  display: block;
  width: 100%;
  padding: 10px 17px;

  color: $main-text;
  font-size: 23px;
  
  border: 2px solid $nav-text;
  border-radius: 25px;

  background-color: transparent;

  outline: 0;

  transition: 0.5s;

  &:hover {
      border-color: $hover-nav-text;
  }
  
  &:focus {
      border-color: $active-nav-text;
      box-shadow: inset -2px -2px 5px $hover-nav-text;
  }
}
