@import '../../../styles/constants';
@import '../../../styles/mixins';

.api-card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  overflow: hidden;

  background-color: $api-card-background;

  border-radius: 20px;

  cursor: pointer;

  transition: 0.5s;

  &:hover {
    filter: brightness(80%);
  }

  &__img {
    display: flex;
    height: 100%;

    object-fit: contain;
    border-radius: 20px;
  }

  &__title {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    bottom: 0;
    padding: 10px;
    width: 100%;

    font-size: 18px;
    color: $card-text;
    font-weight: 600;

    background-color: $card-text-background;
    border-radius: 0 0 20px 20px;

    @include desktop-middle {
      padding: 0.71vw;
      font-size: 1.28vw;
    }

    @include tablet-highest {
      padding: 7.5px;
      font-size: 12px;
    }

    @include tablet-lower {
      padding: 10px;
      font-size: 18px;
    }

    @include tablet-lowest {
      padding: 1.56vw;
      font-size: 2.81vw;
    }

    @include mobile-middle {
      padding: 7.5px;
      font-size: 12px;
    }
  }

  &__icon {
    @include desktop-middle {
      min-width: 14px;
      min-height: 14px;
      width: 1.35vw;
      height: 1.35vw;
    }

    @include tablet-lower {
      width: 19px;
      height: 19px;
    }

    @include tablet-lowest {
      min-width: 14px;
      min-height: 14px;
      width: 2.97vw;
      height: 2.97vw;
    }
  }

  &__likes {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  &__tags {
    display: block;
    flex-shrink: 0;
    width: 100%;
  }
}
