@import '../../styles/constants';
@import '../../styles/mixins';

.error {
  width: 100%;

  font-size: 15px;
  color: $error;

  transition: 0.5s;

  &__status-code {
    font-size: 30px;
    font-weight: 700;

    @include tablet-lower {
      font-size: 3.91vw;
    }

    @include mobile-middle {
      font-size: 18.8px;
    }
  }

  &__header {
    font-size: 25px;

    @include tablet-lower {
      font-size: 3.26vw;
    }

    @include mobile-middle {
      font-size: 15.5px;
    }
  }

  &__content {
    font-size: 18px;

    @include tablet-lower {
      font-size: 2.34vw;
    }

    @include mobile-middle {
      font-size: 11px;
    }
  }
}
