@import '../../styles/constants';

.card-form {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  width: 500px;
  background-color: $form-background;
  margin: 0 auto;
  padding: 20px 20px;
  border-radius: 20px;
}
