@import '../../../styles/constants';
@import '../../../styles/mixins';

.overlay {
  background-color: $overlay;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.api-card-popup {
  position: fixed;
  display: flex;
  top: 50%;
  left: 50%;
  padding: 10px;

  background-color: $card-characteristics-background;
  border-radius: 20px;

  transform: translate(-50%, -50%);
  z-index: 3;

  @include desktop-middle {
    padding: 0.71vw;

    border-radius: 1.42vw;
  }

  @include tablet-middle {
    padding: 5px;

    border-radius: 12.2px;
  }

  @include mobile-highest {
    flex-direction: column;
    max-width: 80vw;
  }

  &__close-btn {
    position: absolute;
    top: -30px;
    right: -30px;

    @include desktop-middle {
      width: 2.14vw;
      height: 2.14vw;
      top: -2.14vw;
      right: -2.14vw;
    }

    @include tablet-middle {
      width: 18.4px;
      height: 18.4px;
      top: -18.4px;
      right: -18.4px;
    }
  }

  &__personal {
    display: flex;
    align-items: center;

    @include mobile-highest {
      justify-content: center;
    }
  }
  
  &__img {
    display: block;
    max-width: 650px;
    max-height: 70vh;

    object-fit: contain;
    border-radius: 20px;

    @include desktop-middle {
      max-width: 46.4vw;
      max-height: 70vh;

      border-radius: 1.42vw;
    }

    @include tablet-middle {
      border-radius: 12.2px;
    }

    @include mobile-highest {
      max-width: 70vw;
      max-height: 40vh;
    }
  }

  &__characteristics {
    display: block;
    flex-shrink: 0;
    width: 300px;
    max-height: 70vh;
    padding-left: 10px;

    @include desktop-middle {
      width: 21.4vw;
      min-width: 164px;
      padding-left: 0.71vw;
    }

    @include tablet-middle {
      padding-left: 5px;
    }

    @include mobile-highest {
      width: 100%;
      max-height: 40vh;
      padding-left: 0;
    }
  }

  &__characteristics-title {
    margin-bottom: 10px;

    font-size: 22px;
    text-align: center;

    @include desktop-middle {
      margin-bottom: 0.71vw;
      font-size: 1.57vw;
    }

    @include tablet-middle {
      margin-bottom: 6px;
      font-size: 13.5px;
    }
  }

  &__characteristics-list {
    flex-direction: column;
    gap: 10px;
    
    max-height: 61vh;
    overflow: auto;

    list-style: none;
    overscroll-behavior: contain;

    @include desktop-middle {
      gap: 0.71vw;
    }

    @include tablet-middle {
      gap: 5px;
    }

    @include mobile-highest {
      max-height: 30vh;
    }

    &::-webkit-scrollbar {
      width: 5px;
    }
  }

  &__characteristics-item {
    display: flex;
    flex-direction: column;

    font-size: 18px;

    @include desktop-middle {
      font-size: 1.28vw;
    }

    @include tablet-middle {
      font-size: 11px;
    }
  }

  &__characteristics-name {
    font-size: 19px;
    font-weight: 700;
    text-transform: capitalize;

    @include desktop-middle {
      font-size: 1.35vw;
    }

    @include tablet-middle {
      font-size: 11.6px;
    }
  }

  &__likes {
    display: flex;
    align-items: center;
    gap: 5px;

    @include desktop-middle {
      gap: 0.35vw;
    }

    @include tablet-middle {
      gap: 3px;
    }
  }

  &__icon {
    @include desktop-middle {
      min-width: 14px;
      min-height: 14px;
      width: 1.35vw;
      height: 1.35vw;
    }
  }
}
