/* Colors */
$nav-text: #fff;
$active-nav-text: #5631fb;

$contacts-icon: #5631fb;
$hover-contacts-icon: #bcb0ff;

$main-background: #fff;
$header-background: linear-gradient(#bcb0ff, #d2caff, #e2deff, rgba(255, 255, 255, 0.8));

$nav-shadow: rgba(86, 49, 251, 0.5);
$active-nav-shadow: #fff;

$main-text: #444444;

$error-code: #5631fb;

$btn: #5631fb;
$hover-btn: #bcb0ff;
$btn-text: #5631fb;


/* Break points */
$tablet-lower: 767px;

$mobile-middle: 480px;
$mobile-middle: 480px;
