/* Colors */
$nav-text: #fff;
$active-nav-text: #9370db;
$hover-nav-text: #d3beff;

$contacts-icon: #9370db;
$hover-contacts-icon: #d3beff;

$header-background: linear-gradient(#000000, #0d0d0d, rgb(13, 13, 13, 0.4));

$main-text: #fff;
$characteristics-text: #1e1e1e;

$error-code: #9370db;

$btn: #9370db;
$hover-btn: #d3beff;
$btn-text: #9370db;

$card-text: #fff;
$card-text-background: rgba(0, 0, 0, 0.3);
$card-characteristics-background: rgba(211, 190, 255, 0.8);
$favorite: #fff;
$active-favorite: #9370db;


$form-background: rgba(211, 190, 255, 0.8);

$switcher-color: #ff8df7;
$switcher-default-color: #3a51ff;
$switcher-text: #fff;
$switcher-no: #e0e0e0;
$switcher-yes: #9370db;


$input-submit-text: #fff; 
$input-submit-background: #9370db; 
$input-submit-hover-background: #6d36dd; 

/* Break points */
$desktop-highest: 1920px;
$desktop-middle: 1400px;
$desktop-bottom: 1200px;

$tablet-middle: 860px;
$tablet-lower: 767px;
$tablet-lowest: 640px;

$mobile-middle: 480px;
