/* Colors */
$main-background: #252525;

$nav-text: #fff;
$active-nav-text: #9370db;
$hover-nav-text: #d3beff;

$contacts-icon: #9370db;
$hover-contacts-icon: #d3beff;

$header-background: linear-gradient(#000000, #0d0d0d, rgb(13, 13, 13, 0.4));

$main-text: #fff;
$characteristics-text: #1e1e1e;

$error-code: #9370db;

$btn: #9370db;
$hover-btn: #d3beff;
$btn-text: #9370db;

$card-text: #fff;
$card-text-background: rgba(0, 0, 0, 0.65);
$card-characteristics-background: rgba(211, 190, 255, 0.8);
$favorite: #fff;
$active-favorite: #9370db;

$form-background: rgba(211, 190, 255, 0.8);

$switcher-color: #ff8df7;
$switcher-default-color: #3a51ff;
$switcher-text: #fff;
$switcher-no: #e0e0e0;
$switcher-yes: #9370db;

$input-text: #fff; 
$input-border: #fff;
$input-hover-border: #9370db; 
$input-active-border: #6d36dd; 

$input-submit-text: #fff; 
$input-submit-background: #9370db; 
$input-submit-hover-background: #6d36dd; 

$error: #e11059;
$hover-error: #d4004a;

$disabled-border: #d6cccc;
$disabled-background: #e0e0e0;
$disabled-text: #bbbaba;

$notification-background: rgba(224, 224, 224, 0.9);
$notification-success-text: #6d36dd;
$notification-indicator: rgba(255, 255, 255, 0.9);
$notification-success-indicator: rgba(110, 54, 222, 0.9);

$loader-box-shadow: rgba(109, 54, 221, 0.7) ;
$loader-box-shadow-after: #d3beff;

$picture-search-card-background: rgba(211, 190, 255, 0.1);

$overlay: rgba(0, 0, 0, 0.65);
$close-btn: rgba(255, 255, 255, 0.8);
$hover-close-btn: rgba(211, 190, 255, 0.8);

$scrollbar-thumb: #9370db;
$scrollbar-track: rgba(211, 190, 255, 0.1);

/* Break points */
$desktop-highest: 1920px;
$desktop-middle: 1400px;
$desktop-bottom: 1200px;

$tablet-highest: 1060px;
$tablet-middle: 860px;
$tablet-lower: 767px;
$tablet-lowest: 640px;

$mobile-highest:534px;
$mobile-middle: 480px;
