@import './constants';

/* Responsive media */
@mixin desktop-highest {
  @media (max-width: $desktop-highest) {
    @content;
  }
}

@mixin desktop-middle {
  @media (max-width: $desktop-middle) {
    @content;
  }
}

@mixin desktop-bottom {
  @media (max-width: $desktop-bottom) {
    @content;
  }
}

@mixin tablet-middle {
  @media (max-width: $tablet-middle) {
    @content;
  }
}

@mixin tablet-lower {
  @media (max-width: $tablet-lower) {
    @content;
  }
}

@mixin tablet-lowest {
  @media (max-width: $tablet-lowest) {
    @content;
  }
}

@mixin mobile-highest {
  @media (max-width: $mobile-highest) {
    @content;
  }
}

@mixin mobile-middle {
  @media (max-width: $mobile-middle) {
    @content;
  }
}

@mixin media-card-text {
  @include desktop-highest {
    font-size: 1.3vw;
  }

  @include desktop-bottom {
    font-size: 25px;
  }

  @include tablet-middle {
    font-size: 2.2vw;
  }

  @include mobile-middle {
    font-size: 10px;
  }
}
