@import '../../styles/constants';
@import '../../styles/inputMixins';

.select-wrapper {
  @include input-wrapper;

  width: max-content;

  &__select {
    @include input-style;

    width: 220px;

    cursor: pointer;
  }

  &__select.not-valid {
    @include not-valid-input;
  }

  &__option {
    color: $input-active-border;
  }
}
