@import '../../styles/constants';
@import '../../styles/mixins';

.container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px 20px;
}

.main {
  min-height: calc(100vh - 78px);
  padding-top: 20px;
  color: $main-text;

  .container {
    @include mobile-middle {
      padding: 0 10px 10px;
    }
  }
}
