@import '../../styles/constants';
@import '../../styles/mixins';

.header {
  position: sticky;
  top: 0;
  z-index: 2;
  
  background: $header-background;
  font-size: 24px;

  @include tablet-lowest {
    font-size: 3.75vw;
  }

  @include mobile-middle {
    font-size: 18px;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;

    @include tablet-lowest {
      padding: 3.1vw;
    }
  
    @include mobile-middle {
      padding: 10px;
    }
  }

  .nav {
    display: flex;
    column-gap: 27px;
      
    list-style: none;
    
    &__link {
      position: relative;
  
      color: $nav-text;
      font-weight: 700;
    
      text-decoration: none;
    
      transition: 0.5s;
    
      &::after {
        content: '';
        display: block;
        width: 0;
        height: 4px;
  
        transition: 0.5s;
      }
  
      &:hover {  
        color: $hover-nav-text;

        &::after {
          width: 110%;
  
          background-color: $hover-nav-text;
        }
      }
  
      &--active {
        color: $active-nav-text;
  
        &:hover {
          color: $hover-nav-text;

          &::after {
            background-color: $hover-nav-text;
          }
        }
      }
    }
  }
}
